<div
  class="text-center flex flex-col gap-6 w-full bg-background py-12 px-6 relative z-10 mt-12 mb-12"
>
  <h3 class="text-text text-4xl font-bold">
    Still not <span class="text-primary">sure?</span>
  </h3>
  <p class="text-text text-lg max-w-2xl mx-auto leading-relaxed">
    Jump start your book reading by exploring our popular book categories. Over
    1000 books are published by different authors every day. Find and buy your
    favorite books today on
    <span class="font-semibold text-primary">Lumen</span>.
  </p>
  <div class="text-center">
      <a
    href="/faq"
    class="mt-6 max-w-xl  inline-block text-center border-2 border-primary text-primary font-semibold text-lg px-6 py-3 rounded-lg transition-all duration-300 hover:bg-primary hover:text-white active:bg-primary/80 active:scale-95"
  >
    Read More
  </a>
  </div>
</div>
