/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #d45555;
    --background: #ffffff;
    --secondary: #19191b;
    --accent: #e5fe08;
    --text: #19191b;
    --icon: gray;
    --violet: #ee82ee;
    --violetb2: #9667f317;
    --violetb: #8a2be2;
  }

  .dark {
    --primary: #d45555;
    --background: #19191b;
    --secondary: #bfbfd0;
    --accent: #08f7fe;
    --icon: gray;
    --text: #fff;
    --violet: #ee82ee;
    --violetb: #8a2be2;
    --violetb2: #9667f317;

    
  }
}

@keyframes splash-scale {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-in-text {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-splash {
  animation: splash-scale 1s ease-out forwards;
}

.animate-text {
  animation: fade-in-text 1s ease-out 0.5s forwards;
}

.delay-200 {
  animation-delay: 0.7s;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.35;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.25;
  }
}

app-navbar {
  position: relative;
  z-index: 20;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
