<form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
  <div>
    <label for="title"> Book Title </label>
    <input
      id="title"
      type="text"
      name="title"
      [(ngModel)]="book.Title"
      #title="ngModel"
      required
    />
    <div>
      <span *ngIf="title.invalid && title.touched">Title is required!</span>
    </div>
  </div>

  <div>
    <label for="author"> Author name </label>
    <input
      id="author"
      type="text"
      name="author"
      [(ngModel)]="book.Author"
      #author="ngModel"
      required
    />
    <div>
      <span *ngIf="author.invalid && author.touched"
        >author name is required!</span
      >
    </div>
  </div>

  <div>
    <label for="date"> Added at</label>
    <input
      id="date"
      name="date"
      type="datetime"
      [(ngModel)]="book.AddDate"
      #date="ngModel"
      required
    />
    <div>
      <span *ngIf="date.invalid && date.touched">date name is required!</span>
    </div>
  </div>

  <div>
    <label for="author"> Author name </label>
    <input
      id="author"
      type="text"
      name="author"
      [(ngModel)]="book.Author"
      #author="ngModel"
      required
    />
    <div>
      <span *ngIf="author.invalid && author.touched"
        >author name is required!</span
      >
    </div>
  </div>

  <div>
    <label for="isbn"> ISBN </label>
    <input
      id="isbn"
      type="text"
      name="isbn"
      [(ngModel)]="book.ISBN"
      #isbn="ngModel"
      required
    />
    <div>
      <span *ngIf="isbn.invalid && isbn.touched">ISBN is required!</span>
    </div>
  </div>

  <div>
    <label for="maingenre"> Main genre</label>

    <select
      name="mgenre"
      #mgenre="ngModel"
      id="maingenre"
      [(ngModel)]="book.MainGenre"
      required
    >
      <option
        *ngFor="let genre of genres"
        [value]="genre.id"
      >
        {{ genre.genreName }}
      </option>
    </select>
    <div>
      <span *ngIf="mgenre.invalid && mgenre.touched"
        >Main genre should be selected</span
      >
    </div>
  </div>

  <div>
    <label for="language"> Book's Language</label>

    <select
      name="language"
      #language="ngModel"
      id="language"
      [(ngModel)]="book.Language"
      required
    >
      <option
        *ngFor="let language of languages; track: language.Id"
        [value]="language.LanguageName"
      >
        {{ language.LanguageName }}
      </option>
    </select>
    <div>
      <span *ngIf="language.invalid && language.touched"
        >language should be selected</span
      >
    </div>
  </div>

    <div>
    <label for="bookCover"> Book Cover </label>
    <input
      id="bookCover"
      type="text"
      name="bookCover"
      [(ngModel)]="book.ThumbnailUrl"
      #bookCover="ngModel"
      required
    />
    <div>
      <span *ngIf="bookCover.invalid && bookCover.touched">Book Cover Image is required!</span>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
